
.parent{
    background-color: aqua;
    width: 100%;
    min-height:700px;
    display: grid;
    grid-template-columns: repeat(10,101px);
    grid-template-rows:  80px 80px 80px;
   grid-template-areas:"nav nav nav nav nav nav nav nav nav nav";
}
.nav{
    grid-area: nav;
   
}
.nav .navv{
    padding: 1.5px;
    background-color: black;
    width:25px;
    height:0%;
    margin-bottom:1%;
    
}
.nav1{
    width: 15px;
    padding: 1.5px;
    background-color: black;
    height:0%;
    margin-bottom:1%;
    transition-duration: 0.2s;
    transition-timing-function:ease-in-out
}
.nav:hover{
    width:initial;

}


